<!DOCTYPE html>
<html lang="en">

<head>
    <title>Processing Page </title>



</head>

<body>

    <div class="container">
        <div class="header">

            <h3 class="text-muted">IMAGE PROCESSOR</h3>
        </div>
        <div class="jumbotron">
            <h2 class="text-muted"> {{ message }} </h2>
        </div>
         <div class="jumbotron">
		 <div id="image-container">

            </div>
         </div>
      <div class="col-lg-6">
            <form>
	  		  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
        </div>
</body>

</html>

